DB_ADMIN_USER=postgres
DB_ADMIN_PASSWORD=your_super_secret_password_here
DB_NAME=music_app_db
DB_PORT=5432
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=your_super_secret_password_here
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
APP_PORT=8000
