DB_HOST=localhost
DB_ADMIN_USER=postgres
DB_ADMIN_PASSWORD=your_super_secret_password_here
DB_NAME=music_app_db
DB_PORT=5432
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=your_super_secret_password_here
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_AUDIO_BUCKET=audio
MINIO_COVER_BUCKET=covers
JWT_ALGORITHM=HS256
JWT_SECRET_KEY=your_super_secret_key_here
APP_PORT=8000
